header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding:3px;
}

body {
    font-family:  'Segoe UI';
    font-weight: normal;
    color: palevioletred;
    font-size: large;
    padding:3px;
}

h1 {
    font-family:  'Segoe UI';
    font-weight: bold;
    color: skyblue;
    font-size: x-large;
    padding:3px;
}

#content {
    padding:3px;
}

#WPI {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#main_nav ul {
    padding: 0;
    margin: 0
}

#main_nav li {
    list-style-type: none;
}

#main_nav li a {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin: 6px;
    padding: 9px;
    color: #222;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    border: 1px solid #666;
}